.cart-page {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 90px;
    background-color: #f9f9f9;
    color: black;
}

.cart-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.cart-item {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 10px;
}

.empty-cart-message {
    font-size: 1.2rem;
    color: #666;
    text-align: center;
    margin-top: 50px;
}

.cart-items-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cart-item-details {
    display: flex;
    align-items: baseline;
    gap: 52px;

}

.cart-item-title {
    font-size: 1.2rem;
    color: #333;
}

.cart-item-price {
    font-size: 1rem;
    margin: 5px 0;
}

.remove-btn {
    background-color: #df8f8f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-btn:hover {
    background-color: #ff0000;
}

.cart-total {
    margin-top: 20px;
    text-align: right;
}

.checkout-btn {
    background-color: #9ed1a0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease
}

.checkout-btn:hover {
    background-color: #4CAF50;
}

.payment-gateway {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: (rgba(0, 0, 0, 0.1));
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.payment-modal {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.payment-modal h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
}

.confirm-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.confirm-btn:hover {
    background-color: #45a049;
}

.cancel-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancel-btn:hover {
    background-color: #ff0000;
}

.payment-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.payment-input:focus {
    border-color: #007bff;
}

.input-error {
    border-color: #ff0000;
}

.error-message {
    color: #ff0000;
    font-size: 0.8rem;
}

.payment-success {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: (rgba(0, 0, 0, 0.7));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* font-size: 2rem; */
    color: #4CAF50;
}

.payment-success h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #4caf50;
    animation: successFade 1s ease-in-out;
}

@keyframes successFade {
    0% {
        opacity: 0;
        transform: translateY((-20px));
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* .cart-item-image {} */